@page "/Articulo/Details/{ArticuloId:int}"

@inject IClientService<Articulos> articuloService
@inject NavigationManager Navigation
@rendermode InteractiveWebAssembly


<PageTitle>Details Art&iacute;culo</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header text-center">
			<div class="bg-primary text-white">
				<h3><strong>Detalle del Art&iacute;culo</strong></h3>
			</div>
		</div>
		@*Body*@
		<div class="card-body">
			<ul>
				<li><strong>ArticuloId: </strong>@Articulo.ArticuloId</li>
				<li><strong>Descripci&oacute;n: </strong>@Articulo.Descripcion</li>
				<li><strong>Costo: </strong>@Articulo.Costo.ToString("N2")</li>
				<li><strong>Ganancia: </strong>@Articulo.Ganancia.ToString("N2")</li>
				<li><strong>Precio: </strong>@Articulo.Precio.ToString("N2")</li>
			</ul>
		</div>
		@*Footer*@
		<div class="card-footer">
			<div class="text-center">
				<button type="button" class="btn btn-outline-primary bi bi-arrow-90deg-left" @onclick="()=>Volver()"> Volver</button>
			</div>
		</div>
	</div>
</div>


@code {
	[Parameter]
	public int ArticuloId { get; set; }
	public Articulos Articulo { get; set; } = new Articulos();

	protected override async Task OnInitializedAsync() {
		Articulo = await articuloService.GetByIdAsync(ArticuloId);
	}

	public void Volver() {
		Navigation.NavigateTo("/Articulo/Index");
	}
}
